# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Credentials and Secrets
serviceAccountKey.json
*.pem
*.key

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# VS Code / IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
